@import "../abstracts/colors.scss";

section.countdown
{
    background: url("../img/soon_bg.jpg") no-repeat;
    background-size: cover;
    padding: 8rem 0;

    .container
    {
        max-width: 65%;
        margin: 0 auto;

        .grid_countdown
        {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
            justify-content: center;
            gap: 1rem;

            .countdown_title
            {
                display: grid;
                align-content: center;
                justify-content: center;
                
                h2,h1
                {
                    color: #fff;
                }

                h2
                {
                    font-size: 2rem;
                    margin-bottom: 2.5rem;

                    span
                    {
                        color: $orange;
                    }
                }

                .grid_seconds
                {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
                    justify-content: center;
                    gap: 1rem;


                    .seconds
                    {
                        height: 140px;
                        width: 130px;
                        background: rgba(250, 250, 250, .1);
                        padding: 1rem;

                        h1, p
                        {
                            text-align: center;
                        }

                        h1
                        {
                            font-size: 3rem;
                        }

                        p
                        {
                            color: $orange;
                            font-size: 1.2rem;
                            text-transform: uppercase;
                            font-weight: 500;
                            letter-spacing: 2px;
                        }
                    }
                }
            }

            .countdown_form
            {
                max-width: 80%;
                margin: 0 auto;
                
                .form_info
                {
                    background: $grey;
                    padding: 2.5rem;

                    p
                    {
                        color: #fff;
                        text-align: center;
                        font-size: 1rem;
                        letter-spacing: .5px;
                    }
                }

                .form
                {
                    background: rgba(250, 250, 250, .1);
                    padding: 3.5rem 2.5rem;

                    input
                    {
                        width: 100%;
                        padding: .75rem;
                        outline: none;
                        border: none;
                        margin-bottom: 1rem;
                        background: rgba(250, 250, 250, .2);
                    }

                    ::placeholder
                    {
                        color: #fff;
                        letter-spacing: .5px;
                    }

                    button
                    {
                        background: $orange;
                        padding: .75rem 1.25rem;
                        color: #fff;
                        text-transform: uppercase;
                        font-weight: 700;
                        font-size: .9rem;
                        outline: none;
                        border: none;
                        cursor: pointer;
                        display: block;
                        margin: 1rem auto 0 auto;
                    }
                }
            }
        }
    }
}