@import "../abstracts/colors.scss";

section.courses
{
    background: url("../img/choosing-bg.jpg");
    padding: 8rem 0;

    .container
    {
        max-width: 97%;
        margin: 0 auto;

        h2
        {
            text-align: center;
            width: 270px;
            display: block;
            margin: 0 auto;
            padding: 1rem 0;
            color: #fff;
            font-weight: 500;
            border: 2px solid $gray;
            margin-bottom: 5rem;
        }

        .grid_courses
        {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            justify-content: center;
            gap: 2rem;

            .courses_1
            {
                background: #fff;
                border-radius: 8px;
                
                img.course_img
                {
                    width: 100%;
                    border-top-left-radius: 8px;
                    border-top-right-radius: 8px;
                }

                .courses_info
                {
                    padding: 1.5rem;

                    h3
                    {
                        margin-bottom: 1.5rem;
                        font-weight: 700;
                        letter-spacing: 1px;
                        font-size: 1.2rem;
                        text-transform: uppercase;
                    }

                    p
                    {
                        color: $grey;
                        font-size: .9rem;
                        line-height: 25px;
                        margin-bottom: 1.5rem;
                    }

                    .authors
                    {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        img
                        {
                            border: 2px solid $orange;
                            border-radius: 50%;
                        }

                        li
                        {
                            list-style: none;
                            cursor: pointer;
                        }

                        li.pay
                        {
                            color: $orange;
                        }

                        li.free
                        {
                            color: $grey;
                        }
                    }
                }
            }
        }
    }
}