section.home {
  height: 110.4vh;
  position: relative;
  background: #0c1228;
  padding-top: 80px;
  width: 100%;
}

section.home .video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 7px;
  width: 100%;
}

section.home .video video {
  opacity: .2;
  width: 100%;
  max-height: 110.4vh;
  min-height: 110.4vh;
  -o-object-fit: cover;
     object-fit: cover;
}

section.home .title_wrap {
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 18% 1rem 0 1rem;
  text-transform: uppercase;
}

section.home .title_wrap h1, section.home .title_wrap h4 {
  text-align: center;
}

section.home .title_wrap h4 {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
}

section.home .title_wrap h1 {
  color: #fff;
  font-size: 4.5rem;
  margin: 1.5rem 0;
}

section.home .title_wrap h1 span {
  color: #f5a425;
}

section.home .title_wrap button.btn {
  background: #f5a425;
  outline: none;
  border: none;
  display: block;
  margin: 0 auto;
  color: #fff;
  font-size: .95rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  cursor: pointer;
}

section.home .container {
  max-width: 58%;
  margin: 0 auto;
}

section.home .container .grid_home {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2rem;
  position: absolute;
  bottom: 0;
  left: center;
  max-width: 65%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.home .container .grid_home .courses {
  background: #0c1228;
  padding: 2.5rem 0 1.5rem 2.5rem;
  cursor: pointer;
  -webkit-transition: .75s ease-in-out;
  transition: .75s ease-in-out;
}

section.home .container .grid_home .courses .svgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}

section.home .container .grid_home .courses .svgs svg {
  height: 25px;
  width: 25px;
  fill: #fff;
  margin-right: 1rem;
}

section.home .container .grid_home .courses .svgs h3 {
  color: #fff;
  font-size: 1.2rem;
  text-transform: uppercase;
}

section.home .container .grid_home .courses .paragraph, section.home .container .grid_home .courses .more_info {
  display: none;
}

section.home .container .grid_home .courses:nth-child(1):hover {
  background: #f5a425;
  color: #fff;
}

section.home .container .grid_home .courses:nth-child(1):hover .paragraph, section.home .container .grid_home .courses:nth-child(1):hover .more_info {
  display: block;
}

section.home .container .grid_home .courses:nth-child(1):hover .paragraph {
  line-height: 25px;
  margin-bottom: 1.5rem;
}

section.home .container .grid_home .courses:nth-child(1):hover .more_info li {
  list-style: none;
  padding-bottom: 1rem;
}

section.home .container .grid_home .courses:nth-child(1):hover .more_info li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: .15rem;
  border-bottom: 2px solid #fff;
}

section.home .container .grid_home .courses:nth-child(2):hover {
  background: #f5a425;
  color: #fff;
}

section.home .container .grid_home .courses:nth-child(2):hover .paragraph, section.home .container .grid_home .courses:nth-child(2):hover .more_info {
  display: block;
}

section.home .container .grid_home .courses:nth-child(2):hover .paragraph {
  line-height: 25px;
  margin-bottom: 1.5rem;
}

section.home .container .grid_home .courses:nth-child(2):hover .more_info li {
  list-style: none;
  padding-bottom: 1rem;
}

section.home .container .grid_home .courses:nth-child(2):hover .more_info li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: .15rem;
  border-bottom: 2px solid #fff;
}

section.home .container .grid_home .courses:nth-child(3):hover {
  background: #f5a425;
  color: #fff;
}

section.home .container .grid_home .courses:nth-child(3):hover .paragraph, section.home .container .grid_home .courses:nth-child(3):hover .more_info {
  display: block;
}

section.home .container .grid_home .courses:nth-child(3):hover .paragraph {
  line-height: 25px;
  margin-bottom: 1.5rem;
}

section.home .container .grid_home .courses:nth-child(3):hover .more_info li {
  list-style: none;
  padding-bottom: 1rem;
}

section.home .container .grid_home .courses:nth-child(3):hover .more_info li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: .15rem;
  border-bottom: 2px solid #fff;
}

@media screen and (max-width: 705px) {
  section.home .title_wrap {
    padding-top: 5%;
  }
}
/*# sourceMappingURL=home.css.map */